[user]
	name = Robert Holland
	email = rob@robholland.com
	signingkey = BD7ABB44
[alias]
	#logg = log --graph --oneline --decorate --all
	logg = log --graph --show-signature --decorate --all
	listfiles = diff-tree --no-commit-id --name-only -r #thecommitSHA - List changed files in the commit.
	listallfiles = ls-tree --name-only -r #thecommitSHA - List all files in the commit.
	unstage = reset HEAD
	this = !git init && git add . && git commit -m \"initial commit\"
	search = !git rev-list --all|xargs git grep #data_you_are_looking_for
	remove  = !git ls-files -z --deleted | xargs -0 git rm	
	ignore=!([ ! -e .gitignore ] && touch .gitignore) | echo $2 >>.gitignore
	#ignore=!echo $2 >> .gitignore
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat #List commits showing changed files
	ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative #showing relative dates
	aliases = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\t=> \\2/' | sort
	fileshow = log --follow
	resetauthor = !git commit --amend --reset-author
[push]
	default = matching
#http://blog.blindgaenger.net/advanced_git_aliases.html
#http://durdn.com/blog/2012/11/22/must-have-git-aliases-advanced-examples/
