[user]
	name = Robert Holland
	email = rob@robholland.com
	signingkey = BD7ABB44
[alias]
	#logg = log --graph --oneline --decorate --all
	logg = log --graph --show-signature --decorate --all
	#logfiles = git diff-tree --no-commit-id --name-only -r thecommitSHA
	logfiles = diff-tree --no-commit-id --name-only -r
	#listallfiles = ls-tree --name-only -r thecommitSHA
	listallfiles = ls-tree --name-only -r 
