[user]
	name = Robert Holland
	email = rob@robholland.com
	signingkey = BD7ABB44
[alias]
	#logg = log --graph --oneline --decorate --all
	logg = log --graph --show-signature --decorate --all
	listfiles = diff-tree --no-commit-id --name-only -r #thecommitSHA - List changed files in the commit.
	listallfiles = ls-tree --name-only -r #thecommitSHA - List all files in the commit.
	unstage = reset HEAD
	#searchexpression = git rev-list --all|xargs git grep data_you_are_looking_for
	
